.nav {
    background-color: rgb(141, 170, 172);
    box-sizing: border-box;
    display: inline-block;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: left;
}
#logo {
    font-family: 'retro';
    font-size: 3rem;
    color: rgb(163, 93, 23);
    
}
#link a {
    font-family: 'caps';
    font-size: larger;
    color: white;
}
#link a:hover {
    color: #27311d;
}